Flask==1.1.2
tensorflow-cpu==2.6.1
tensorflow-addons==0.10.0
requests==2.22.0
beautifulsoup4==4.9.3
pandas==1.0.0
numpy==1.19.5
lxml==4.6.5
gunicorn==20.1.0
gevent==1.4.0
loguru==0.6.0
grpcio==1.46.0
protobuf==3.19.4